body {
    font-family: Arial, sans-serif;
    background-image: url(Sweet\ Butterflies\ in\ Soft\ Pink\ Wallpaper\ -\ Paste\ the\ Wall_\ Smooth\,\ Matte\ Finish\ _\ 480cm\ \(\ 15\'\ 8\ \)\ _\ 270cm\ \(\ 8\'\ 10\ \).jpeg);
    margin: 0;
    padding: 20px;
}

.navigasi{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.navigasi a{
    color: #f73eb9;
    margin-right: 150px;
}

.navigasi a:hover{
    color: #f59bc8;
}

h2 {
    text-align: center;
    color: #2c3e50;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;

}
table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease;
}
th {
    background-color: #f73eb9;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ffd1f7;
}
td {
    color: #555;
}
td:hover {
    background-color: #f7c4e1;
}
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}